.MonBody{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    align-items:center;
    width: 100%;
    height:auto;
    /* border: solid black; */
    background-color: seashell;
    flex-grow:0;
    align-content: flex-end;

  }
  
  .MenuVert{ 
    border:solid snow;
    display: flex;
    flex-direction: column;
    position:relative;
    justify-content:center;
    align-items: center;
    flex-grow: 1.5;
    align-content: flex-end;

  }
  
  ul{
    top:0px;
    list-style: none;

  }
  .MonContenu{
    width: 70%; 
    border: solid green;
    display: flex;
    flex-direction: column;
    justify-content:right;
    align-items: center;
    position:relative  ;
    overflow: hidden;
    /* flex-wrap: nowrap; */
    align-content: center;
  }
  